@import './base.css';

.main-container {
  margin: 10px;
  max-width: 95vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;;
  align-items: center;
  align-content: center;
}
.header-container {
  display: flex;;
  margin-top: 10px;
  min-width: 80vw;
  max-height: 40vh;
  min-height: 25vh;
}
.table-container {
  margin: auto;
  align-self: stretch;
  min-width: 80vw;
  max-height: 80vh;
}
.footer-container {
  margin: auto;
  align-self: stretch;
}
.bold {
  font-weight:bold;
  color: #FCCF40;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.item1 {
  flex: 1;
}
.item2 {
  flex:1;
  align-self: center;
}
.avatar {
  left: 1%;
  top: 1%;
  padding: 5px;
}