@import './base.css';

.main-container {
  max-width: 95vw;
  max-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-container {
  margin: auto;
  align-self: stretch;
  min-width: 80vw;
}
.table-container {
  margin: auto;
  align-self: stretch;
  flex-grow: 1;
  min-width: 80vw;
  max-height: 90vh;
}
.footer-container {
  margin: auto;
  align-self: stretch;
}
.bold {
  font-weight:bold;
  color: #FCCF40;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.item1 {
  flex: 1;
}
.item2 {
  flex:1;
  align-self: center;
}